#topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#topRow h1 {
    flex: 1; /* Allows h1 to take remaining space and center itself */
    text-align: center;
}

#CategoriesContainer{
display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    width: 100%;
}

.category{
    background: rgba(255, 251, 222, 0.1); 
    backdrop-filter: blur(10px);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.3s ease;
}
.category:hover{
    background: rgba(255, 251, 222, 0.15);
    transform: translateY(-4px);
    border-color: rgba(255, 251, 222, 0.3);
}
.category-actions{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
}
#deleteCategory, #editCategory{
    cursor: pointer;
    color: var(--surface);
}
#deleteCategory:hover, #editCategory:hover{
    transform: translateY(-2px) scale(1.2);
}